In [147]:
import pandas as pd
import numpy as np
cwur_df = pd.read_csv('data.csv', delimiter=",")
shangai_df = pd.read_csv('shanghaiData.csv', delimiter=",")
times_df = pd.read_csv('timesData.csv', delimiter=",")
times_df[0:19]

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,"18,812",11.8,34%,46 : 54,2011
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,"19,919",11.6,34%,46 : 54,2011
7,8,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,"36,186",16.4,15%,50 : 50,2011
8,9,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,"15,060",11.7,51%,37 : 63,2011
9,10,Yale University,United States of America,92.1,59.2,89.7,91.5,-,89.5,"11,751",4.4,20%,50 : 50,2011
10,11,"University of California, Los Angeles",United States of America,83.0,48.1,92.9,93.2,-,87.7,"38,206",10.3,15%,52 : 48,2011
11,12,University of Chicago,United States of America,79.1,62.8,87.9,96.9,-,86.9,"14,221",6.9,21%,42 : 58,2011
12,13,Johns Hopkins University,United States of America,80.9,58.5,89.2,92.3,100.0,86.4,"15,128",3.6,23%,50 : 50,2011
13,14,Cornell University,United States of America,82.2,62.4,88.8,88.1,34.7,83.9,"21,424",10.2,19%,48 : 52,2011
14,15,ETH Zurich â€“ Swiss Federal Institute of Techno...,Switzerland,77.5,93.7,87.8,83.1,-,83.4,"18,178",14.7,37%,31 : 69,2011
15,15,University of Michigan,United States of America,83.9,53.3,89.1,84.1,59.6,83.4,"41,786",9.0,16%,48 : 52,2011
16,17,University of Toronto,Canada,75.8,-,87.9,82.2,-,82.0,"66,198",19.5,15%,NaN,2011
17,18,Columbia University,United States of America,73.8,90.9,73.8,92.6,-,81.0,"25,055",5.9,28%,NaN,2011
18,19,University of Pennsylvania,United States of America,71.8,32.9,82.7,93.6,43.7,79.5,"20,376",6.5,20%,51 : 49,2011

In [113]:
times_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603 entries, 0 to 2602
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   world_rank              2603 non-null   object
 1   university_name         2603 non-null   object
 2   country                 2603 non-null   object
 3   teaching                2603 non-null   float64
 4   international           2603 non-null   object
 5   research                2603 non-null   float64
 6   citations               2603 non-null   float64
 7   income                  2603 non-null   object
 8   total_score             2603 non-null   object
 9   num_students            2544 non-null   object
 10  student_staff_ratio     2544 non-null   float64
 11  international_students  2536 non-null   object
 12  female_male_ratio       2370 non-null   object
 13  year                    2603 non-null   int64
dtypes: float64(4), int64(1), object(9)
memory usage: 284.8+ KB

Donne un aperÃ§u de chaque fichier csv et dÃ©cris en une phrase son contenu.
--> Ce df nous donne de nombreuses informations sur chaque universitÃ© en renseignant la qualitÃ©, le nombre de publications, l'influence et autres index. De mÃªme, chaque uni se voit attribuÃ© une note qui est sensÃ©e tÃ©moigner de sa qualitÃ© d'enseignements.

### Quelles annÃ©es sont prises en charge par chaque classement ?

In [98]:
#CrÃ©ation d'une array permettant d'appeller le classement que l'on veut, et permettant de faciliter les commandes qui se rÃ©petent.
classement = [shangai_df, cwur_df, times_df]
classement_str = ["shangai", "CWUR", "times"]
years_tab = []
i = 0
while i < len(classement):
        years_tab.append(classement[i]['year'].unique())
        i += 1
# print('Chaque classement prend en charge les annÃ©es,', y,".")
i = 0
while i < len(classement_str):
    print ("Le classement", classement_str[i],"comporte les annÃ©es : ",years_tab[i])
    i+= 1

Le classement shangai comporte les annÃ©es :  [2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]
Le classement CWUR comporte les annÃ©es :  [2012 2013 2014 2015]
Le classement times comporte les annÃ©es :  [2011 2012 2013 2014 2015 2016]

### Combien d'universitÃ©s sont prises en compte annuellement par chaque classement en moyenne ? Il s'agit ici de donner le nombre moyen d'universitÃ©s prises en compte par chaque classement lors d'une annÃ©e.

In [99]:
#Il suffit de faire une moyenne du nombre de rÃ©pÃ©tion de chaque annÃ©e dans la colonne years pour chaque uni. 
i = 0
mean_tab = []
while i < len(classement):
        mean_tab.append(round(classement[i]["year"].value_counts().mean()))
        i += 1
i = 0
while i < len(classement_str):
    print ("Chaque annÃ©e, le classement", classement_str[i],"prend en compte",mean_tab[i],"universitÃ©s en moyenne.")
    i+= 1

Chaque annÃ©e, le classement shangai prend en compte 445 universitÃ©s en moyenne.
Chaque annÃ©e, le classement CWUR prend en compte 550 universitÃ©s en moyenne.
Chaque annÃ©e, le classement times prend en compte 434 universitÃ©s en moyenne.

## Quels sont les rankings obtenus par l'UniversitÃ© de Strabourg dans chacun des 3 classements disponibles ?

In [173]:
class_tab.append(classement[y]["world_rank"][i])
y = 0
p = []
yy = "Strasbourg"
while y < len(classement):
    i = 0 
    while i < len(classement[y]):
        if yy in (classement[y]["university_name"][i]):
            p.append(classement[2]["world_rank"][1])
        i += 1
    y += 1
print(p)


# type(classement[2]["world_rank"][3])
# u = []
# yy = "of Techno"
# if yy in classement[2]["university_name"][1]:
#     u.append(classement[2]["world_rank"][1])
# print (u)

TypeError: argument of type 'float' is not iterable

Selon le classement du Times, quels sont les 20 meilleures universitÃ©s en 2016 ? Quelle est la part d'universitÃ©s amÃ©ricaines ?

Combien chaque pays possÃ¨de d'universitÃ©s dans le classement de Shanghai en 2015 ? Range la liste par ordre dÃ©croissant. Pense Ã  t'aider de la table universitÃ© - pays pour rÃ©aliser cette requÃªte.

Quelles sont les universitÃ©s franÃ§aises prÃ©sentes dans le classement du Center for WUR ?

Quels pays ont les plus faibles ratios (DÃ©penses dans les Institutions du SupÃ©rieur (PrivÃ©es et Publiques) en 2011) / Nombre d'universitÃ©s dans le classement du Times en 2011 ? Range cette liste par ordre croissant.